<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ezike.tobenna.starwarssearch.character_search"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.StarWarsSearch"/>
    </application>

</manifest>